<div class="container" style="padding: 20px;">
  <h2>📦 Cadastro de Produtos</h2>

  <mat-card style="padding: 20px; margin-bottom: 20px;">
    <div style="display: flex; gap: 15px; align-items: center;">
      <mat-form-field appearance="outline" style="flex: 2;">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="novoProduto.descricao" name="descricao">
      </mat-form-field>

      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Saldo</mat-label>
        <input matInput type="number" [(ngModel)]="novoProduto.saldo" name="saldo">
      </mat-form-field>

      <button mat-raised-button color="primary" style="height: 50px;" (click)="cadastrar()">
       Cadastrar
      </button>
    </div>
  </mat-card>

  <hr>

  <h3>📝 Produtos Cadastrados</h3>
  <table mat-table [dataSource]="produtos" class="mat-elevation-z8" style="width: 100%;">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell *matCellDef="let p"> {{p.id}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let p"> {{p.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef> Saldo Atual </th>
      <td mat-cell *matCellDef="let p"> 
        
        <span *ngIf="p.saldo > 0" style="font-weight: bold; font-size: 14px;">
          {{p.saldo}} un.
        </span>

        <span *ngIf="p.saldo <= 0" style="background-color: #ffcdd2; color: #b71c1c; padding: 4px 8px; border-radius: 12px; font-size: 12px; font-weight: bold; border: 1px solid #b71c1c;">
          ESTOQUE ZERADO
        </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let p">
        <button mat-icon-button color="warn" (click)="excluir(p.id)">
            <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    
    <tr mat-row *matRowDef="let row; columns: colunas;"
        [style.background-color]="row.saldo <= 0 ? '#fff5f5' : 'transparent'">
    </tr>
  </table>
</div>